.POBackground{
    background-image: url("../images/addPO.png");
    position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  
  
     height: 100%;
    width:100%; 
   

  
  
  }
    